*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 300ms;
}
body{
	/* noting needed */
}
div.container{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
div.container div.row {
	display: flex;
}
div.col button {
	width:  40px;
	height: 90px;
	border: none;
	background: rgba(130, 130, 150, .5);
	cursor: pointer;
	text-shadow: 0 0 15px #fff; 
}
div.main{
	width: 70%;display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
div.col div.code-res {
	width: 100%;
	min-height:	89px;
	font-family: monospace, "Helvetica Neue", Helvetica, sans-serif;
	padding:  15px 10px;
	background: rgba(21,21,21,.6);
	display: flex;
	backdrop-filter : blur(10px);
	align-items: center;
}
div.col button:focus {
	outline: none;
}
div.col button:hover{
	text-shadow: 0 0 10px  cyan;
}
i{
	/*color: rgb(255,65,27);*/
	color: cyan;
}
span.st-lg{
	color: rgb(94,200,204);
}
span.st-br{
	color: #fff;
}
span.st-num{
	color: rgb(238,166,80);
}
span.st-deg{
	color: rgb(198,149,198);
}
span.st-char{
	color: rgb(166,172,185);
}
div.generate{
	width: 100%;
}
.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
	width: 100%;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.st-btn {
	font-family: input-mono-narrow, monospace;
	font-weight: 500;
	padding: 1rem 1.5rem;
	overflow: hidden;
	color: #fff;
	background: rgba(0,0,0,.4);
	backdrop-filter:  blur(10px);
}

.st-btn span {
	display: block;
	position: relative;
}

.st-btn > span {
	overflow: hidden;
}

.st-btn > span > span {
	overflow: hidden;
	mix-blend-mode: difference;
}

.st-btn:hover > span > span {
	animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
}

@keyframes MoveUpInitial {
	to {
		transform: translate3d(0,-105%,0);
	}
}

@keyframes MoveUpEnd {
	from {
		transform: translate3d(0,100%,0);
	}
	to {
		transform: translate3d(0,0,0);
	}
}

.st-btn::before {
	content: '';
	background: rgb(21,21,21,.3);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
	transform-origin: 100% 50%;
}

.st-btn:hover::before {
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
}
button {
	transform-style: preserve-3d;
	perspective: 100px;
}
button > span {
	transform: translateZ(10px) !important;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {

}